.search__box {
  margin: 65px 0 0;
  position: relative;
}

@media (max-width:1024px) {
  .search__box {
    margin: 50px 0 0px;
  }
}

@media (max-width:420px) {
  .search__box {
    margin: 120px 0 0;
  }
}
