.about-author__header {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

@media (max-width:1024px) {
  .about-author__header {
    font-size: 30px;
    line-height: 40px;
  }
}
