.saved-articles__counter {
  max-width: 530px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 30px 0 0;
}

@media (max-width:1024px) {
  .saved-articles__counter {
    font-size: 30px;
    line-height: 34px;
    width: 55%;
    margin: 15px 0 0;
  }
}

@media (max-width:420px) {
  .saved-articles__counter {
    width: 90%;
  }
}
