.popup__input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 10px 0 10px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  outline: none;
}

.popup__input:focus {
  border-bottom: 1px solid #000;
}
