.header__button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  height: 48px;
  margin-right: 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
}

@media (max-width: 1024px) {
  .header__button {
    font-size: 16px;
    height: 40px;
    margin-right: 15px;
  }
}

.header__button:hover {
  background-color: transparent;
}
