@import url(./__title/header__title.css);
@import url(./__button/header__button.css);
@import url(./__nav/header__nav.css);
@import url(./_color_dark/header_color_dark.css);
@import url(./__show-menu-btn/header__show-menu-btn.css);
@import url(./_mobile/header_mobile.css);
@import url(./__button-icon/header__button-icon.css);

.header {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  min-height: 80px;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: auto;
  color: #FFF;
  border-bottom: 1px solid #C4C4C4;
  padding: 0 7.5vw;
}

@media (max-width:1024px) {
  .header {
    max-width: 90%;
    min-height: 66px;
    padding: 0px 5.5vw;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 10px;
    min-height: 56px;
  }
}
