.about-author__desc:first-of-type {
  margin: 20px 0 25px 0;
}

.about-author__desc {
  margin: 0 0 25px 0;
}

@media (max-width:1024px) {
  .about-author__desc:first-of-type {
    margin: 10px 0 25px;
  }
}
