.news-card__bookmark {
  position: absolute;
  top: 25px;
  right: 25px;
}

.news-card__bookmark:hover + .news-card__tooltip {
  display: block;
  cursor: pointer;
}

.news-card__bookmark:hover {
  content:url('../../../images/bookmark-hover.png');
}

@media (max-width:1024px) {
  .news-card__bookmark {
    top: 10px;
    right: 10px;
  }
  .news-card__bookmark:hover + .news-card__tooltip {
    display: none;
  }
}
